.inputBox{
    width: 50%;
    height: 25px;
    border-top: none;
    border-left: none;
}
.addbutton{
    background-color: rgb(193, 28, 199);
    height: 29px;
    color: aliceblue;
}
.inputdiv{
    padding:20px;
    font-weight: 700;
}